
body {
    overflow: hidden; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .game {
    height: 500px;
    width: 90%;
   /* position: relative; */
    overflow: hidden;
  }
  
  .score {
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size:60px;
    color: black;
  }
  
  .javali {
    position: absolute;
    bottom: 0;
    background-image: url(img/javali.gif);
    width: 220px;
    height: 180px;
    background-size: 220px;
    background-repeat: no-repeat;
    transform: scaleX(1);
  }
  
  .arvore{
    position: absolute;
    bottom: 0;
    background-image: url(img/pedra.png);
    width: 90px;
    height: 70px;
    background-size: 90px;
    background-repeat: no-repeat;
    animation: pedra 3s linear infinite;
  }
  
  .pedra {
    position: absolute;
    bottom: 0;
    background-image: url(img/pedra.png);
    width: 90px;
    height: 70px;
    background-size: 90px;
    background-repeat: no-repeat;
    animation: pedra 3s linear infinite;
  }
  
  .gameOver{
    height:100%;
    background: url(img/gameover.png);
    background-position: center;
  
  }
  
  @keyframes pedra {
    0% {
      left: 100%;
    }
    100% {
      left: 0px;
    }
  }
  
  .jump {
    animation: jump 1.1s linear;
  }
  
  @keyframes jump {
    0% {
      bottom: 0;    
      background-image: url(img/javaliPernaAberta.gif);
    }
  
    30% {
      bottom: 80px;
      background-image: url(img/javaliPernaAberta.gif);
    }
  
    50% {
      bottom: 100px;
      background-image: url(img/javaliPernaAberta.gif);
    }
    80% {
      bottom: 80px;
      background-image: url(img/javaliPernaAberta.gif);
    }
  
    100% {
      bottom: 0;
      
      background-image: url(img/javaliPernaAberta.gif);
    }
  }